{% extends "base.html" %}
{% block content %}
<!doctype html>

<body>
    <script>
        var chinese_value = false;
        var german_value = false;
        var english_value = false;
        var french_value = false;
        var italian_value = false;
        var japanese_value = false;
        var korean_value = false;
        var spanish_value = false;
        var thai_value = false;
        var tranlang = false;
    </script>
        <!-- <div class="container" style="margin: 0px; margin-right: 0px; padding: 0px; height: auto; width: auto;"> -->
        <div className="row" style="height: 310px; width: auto; margin-bottom: 0.8rem;" > 

            <div class="col-sm-4 float-left" style="margin: 0px;  height: 84px; "> 
                <div class="col-3 float-left" style="margin: 0; padding: 0px; margin-right: 0; margin-bottom: 2rem; height: 100%;">
                    <img src="{{url_for('static', filename='Picture1.png')}}" width="80" height="80" alt="avatar" style="align-items: center; margin: 0px; padding: 0px;  height: 100%;">
                </div>
                <div class="col-9 float-right" style="margin: 0; padding: 0px; margin-right: 0">
                    <div class="card" style="width: 20rem; margin-bottom: 2rem; margin-left: 0; background-color: honeydew; border-radius: 20px;" >
                        <div class="card-body" style="padding: 2%; ">
                            <p style="margin: 0%; padding-left: 0%; ">HI! </br>let's import your video or YouTube URL </br>then choose the languages.</p>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btn-lg" href="/upload_vdo" role="button" style="margin-bottom: 3%; padding: 1%; font-size: 1rem; margin-right: 2%;">Upload video</a>
                <a class="btn btn-primary btn-lg" href="/url_vdo" role="button" style="margin-bottom: 3%; padding: 1%; font-size: 1rem;">Youtube link</a>
                <form method=post enctype=multipart/form-data >
                    <input type=file name=file>
                    <button  type="submit" class="btn btn-success"  style=" font-size: 1rem; padding: 1.4%;" id='button_upload' >Upload</button>
                </form>
            <form method=post enctype=multipart/form-data >
                <div class="card text-center" style="width: 100%; background-color: white; border-radius: 20px; margin-top: 4%; border: 0.5px solid rgba(0, 0, 0, 0.3);" >
                    <div class="card-body" style="padding: 3%; ">
                        <h5 style="margin-bottom: 30%px;">Choose the text position</h5>
                        <div class="col-sm-4 float-left" style="padding-right: 0%; padding-left: 0%;">
                            <input type="radio" id="text_position1" name="text_position" value="above" checked> Above Text
                        </div>
                        <div class="col-sm-4 float-left" style="padding-right: 0%; padding-left: 0%;">
                            <input type="radio" id="text_position2" name="text_position" value="under" > Under Text 
                        </div>
                        <div class="col-sm-4 float-left" style="padding-right: 0%; padding-left: 0%;">
                            <input type="radio" id="text_position3" name="text_position" value="at text position">Text Position 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 float-right" style="margin: 0px; padding: 0px;  height: 100%;">
                <div class="card text-center" style="height: 48%; border-radius: 1rem; border: 0.5px solid rgba(0, 0, 0, 0.3);">
                    <div class="card-body">
                        <h5 style="margin-bottom: 0%;">Process</br>the video</h5>
                            <div class="col align-self-center" style="padding: 0%; align-items: center; margin-top: 7%;" id='button_submit'>
                                <button id="submitBtn" class="btn btn-success btn-lg monitored-btn" disabled>Submit</button>
                            </div>                   
                    </div>
                </div>
                <div class="card text-center" style="height: 48%; margin-top: 4%; border-radius: 1rem; border: 0.5px solid rgba(0, 0, 0, 0.3);">
                    <div class="card-body">
                        <h5 style="margin-bottom: 0%;">Reset</br>the process</h5>
                        <div class="col align-self-center" style="padding: 0%; align-items: center; margin-top: 7%;" id='button_submit' type='button' >
                            <a href="/upload_vdo">
                                <button id="resetBtn" class="btn btn-danger btn-lg monitored-btn" >Reset</button>
                             </a>
                        </div>                    
                    </div>
                </div>
            </div>

            
            <div class="col-sm-4 float-left" style="margin: 0px; padding-right: 1%;  height: 100%; ">
                <div class="card text-center" style="height: 100%; border-radius: 1rem; border: 0.5px solid rgba(0, 0, 0, 0.3);" >
                    <div class="card-body" style="height: 100%;">
                        <h5 style="margin-bottom: 30%px;">Choose the text languages</h5>

                        <div class="row justify-content-center" style="padding-bottom: 2%; margin-bottom: 2%; margin-top: 5%; height: 18%;">
                            <div id="ck-button" style="width: 30%; justify-content: center;">
                                <label style="margin-bottom: 0%;">
                                   <input type="checkbox" name="AutoDetect" value="1" hidden><span style="padding: 10%;"> Auto Detect </span>
                                </label>
                             </div>
                        </div>
                        
                        <div class="row" style="padding-bottom: 2%; height: 18%; margin-bottom: 2%;">
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="chinese" value="1" hidden><span style="padding: 10%;"> Chinese</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center " style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="german" value="1" hidden><span style="padding: 10%;"> German</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="english" value="1" hidden><span style="padding: 10%;"> English</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-bottom: 2%; height: 18%; margin-bottom: 2%;">
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="french" value="1" hidden><span style="padding: 10%;"> French</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="italian" value="1" hidden><span style="padding: 10%;"> Italian</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="japanese" value="1" hidden><span style="padding: 10%;"> Japanese</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-bottom: 2%; height: 18%; margin-bottom: 2%;">
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="korean" value="1" hidden><span style="padding: 10%;"> Korean</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="spanish" value="1" hidden><span style="padding: 10%;"> Spanish</span>
                                    </label>
                                </div>
                            </div>
                            <div class="items col-sm-4 d-flex justify-content-center" style="padding-right: 4%; padding-left: 3%;" >
                                <div id="ck-button" style="width: 85%;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="thai" value="1" hidden><span style="padding: 10%;"> Thai</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

            <div class="col-sm-2 float-right" style="margin: 0px; padding: 0px;  height: 100%; padding-right: 1%;">
                <div class="card text-center" style="height: 100%; border-radius: 1rem; border: 0.5px solid rgba(0, 0, 0, 0.3);">
                    <div class="card-body">
                        <h5 style="margin-bottom: 33%;">Translation language</h5>
                            <div class="btn-group-vertical " style="align-items: center;">
                                <div id="ck-button" style="width: 150%; align-items: center;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="trans_thai" value="1" hidden><span style="padding: 10%;"> Thai</span>
                                    </label>
                                </div>
                                
                                <p class="text-center" style="margin-bottom: 0; padding: 20%;">or</p>
                                <div id="ck-button" style="width: 150%; align-items: center;">
                                    <label style="margin-bottom: 0%;">
                                        <input type="checkbox" name="trans_eng" value="1" hidden><span style="padding: 10%;"> English</span>
                                    </label>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        {% block vdo_render %}
        {% endblock %}

    <script type="text/javascript" src="submit_video.js"></script>
</body>
{% endblock %}