<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="static.css">

</head>
<body>
    <div class="card" style="background-color: white; padding: 1.25rem; border: 0px solid rgb(0 0 0 / 0); ">
        <div class="card-body">
            <div class="jumbotron" style="background-color: #b8edfd; padding: 34px; height: auto; border-radius: 3rem;">
                <h1 class="display-4">Automatic Text Recognition and Translation </br>for Real-time Digital Video </h1>
                <p class="lead">This project will help you understand and enjoy your video better!</p>
                <hr class="my-4" style="padding-bottom: 0.8rem; padding-top: 0.5rem;">
               
                <!-- <div class="container" style="margin: 0px; padding: 0px;"> -->
                <div className="row" > 

                    <div class="col-sm-6 float-left" style="margin: 0px; padding: 0px;"> 
                        <div class="card" style="width: 20rem; margin-bottom: 2rem; margin-left: 8rem; background-color: honeydew; border-radius: 20px;" >
                            <div class="card-body" style="padding: 2%; ">
                                <p style="margin: 0%; padding-left: 10px; ">HI! </br>let's import your video or Youtube link </br>then choose the languages.</p>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-lg" href="#" role="button" style="margin-bottom: 15px; padding: 5px; font-size: 1rem; margin-right: 10px;">Upload video</a>
                        <a class="btn btn-primary btn-lg" href="#" role="button" style="margin-bottom: 15px; padding: 5px; font-size: 1rem;">Youtube link</a>
                        <form method=post enctype=multipart/form-data >
                            <input type=file name=file>
                            <button type="submit" class="btn btn-success" style=" font-size: 1rem; padding: 4px;">Upload</button>
                        </form>

                    </div>
 
                    <div class="col-sm-2 float-right" style="margin: 0px; padding: 0px;">
                        <div class="card text-center" style="height: 260px; border-radius: 1rem;">
                            <div class="card-body">
                                <h5 style="margin-bottom: 32px;">Translation language</h5>
                                    <div class="btn-group-vertical ">
                                        <button type="button" class="btn btn-outline-success" style="margin-bottom: 18px;">Thai</button>
                                        <p class="text-center" style="margin-bottom: 18px; padding-left: 28px;">or</p>
                                        <button type="button" class="btn btn-outline-success">English</button> 
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 float-left" style="margin: 0px; padding-right: 20px;">
                        <div class="card text-center" style="height: 260px; border-radius: 1rem;" >
                            <div class="card-body">
                                <h5 style="margin-bottom: 15px;">Choose the text languages</h5>

                                <div class="row justify-content-center" style="padding-bottom: 15px;">
                                    <!-- <div class="info-block block-info clearfix"> -->
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                            <label class="btn btn-outline-info" style="border-radius: 0.4rem; padding: 0px;  margin-bottom: 0px;">
                                                <!-- <div class="itemcontent" > -->
                                                    <!-- <span class="fa fa-car fa-2x"></span> -->
                                                    <p style="margin: 5px; width: 120px;">Auto Detect</p>
                                                <!-- </div> -->
                                            </label>
                                        </div>
                                    <!-- </div> -->
                                </div>
                               
                                <div class="row" style="padding-bottom: 5px;">
                                    <!-- <div class="form-group"> -->
                                        <!-- <div class="items-collection"> -->
                                            <div class="items col-sm-4 d-flex justify-content-center" >
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Chinese</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">German</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width:80px;">English</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                </div>

                                <div class="row" style="padding: 5px;">
                                    <!-- <div class="form-group"> -->
                                        <!-- <div class="items-collection"> -->
                                            <div class="items col-sm-4 d-flex justify-content-center" >
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">French</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Italian</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Japanese</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                </div>

                                <div class="row" style="padding: 5px;">
                                    <!-- <div class="form-group"> -->
                                        <!-- <div class="items-collection"> -->
                                            <div class="items col-sm-4 d-flex justify-content-center" >
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Korean</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Spanish</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                            <div class="items col-sm-4 d-flex justify-content-center">
                                                <!-- <div class="info-block block-info clearfix"> -->
                                                    <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                                        <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                            <!-- <div class="itemcontent" > -->
                                                                <!-- <span class="fa fa-car fa-2x"></span> -->
                                                                <p style="margin: 5px; width: 80px;">Thai</p>
                                                            <!-- </div> -->
                                                        </label>
                                                    </div>
                                                <!-- </div> -->
                                            </div>
                                        <!-- </div> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->

                <div class="container" style="margin: 0px; padding: 0px;">
                <div className="row" > 
                    <div class="col-sm float-left" style="margin: 0px; padding: 0px;"></div>
                    <video width="900" height="500" controls style="padding-top: 2.5rem;">
                        <source src={{ url_for('static', filename="uploadedvideo/"+"Disney.mp4") }} type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    </div>

                    <div class="col-sm float-right" style="margin: 0px; padding: 0px;"></div>
                        <form action="/echo" method="POST"><value="Echo"></form>
                    </div>
                </div>
                </div>
        

            </div>

        </div>
    </div>            

    
    <!-- <style>
    #search {
        width:90%;
    }
    
    .searchicon {
        color:#5CB85C;
    }
    
    .items-collection{
        margin:20px 0 0 0;
    }
    .items-collection label.btn-default.active{
        background-color:#007ba7;
        color:#FFF;
    }
    .items-collection label.btn-default{
        width:90%;
        border:1px solid #305891;
        margin:5px; 
        border-radius: 17px;
        color: #305891;
    }
    .items-collection label .itemcontent{
        width:100%;
    }
    .items-collection .btn-group{
        width:90%
    }
    </style> -->
    
    <!-- <script>
    $(function () {
        $('#search').on('keyup', function () {
            var pattern = $(this).val();
            $('.items-collection .items').hide();
            $('.items-collection .items').filter(function () {
                return $(this).text().match(new RegExp(pattern, 'i'));
            }).show();
        });
    });
    </script> -->


    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>