<!doctype html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="static.css">

</head>
<body>
    <div class="card" style="background-color: rgb(252,202,202); padding: 1.25rem; ">      
        <div class="card-body">
            <div class="jumbotron" style="background-color: white; padding: 34px; height: 1150px; border-radius: 3rem;  border: 1px solid black;">
                <h1 class="display-4">Automatic Text Recognition and Translation </br>for Real-time Digital Video </h1>
                <p class="lead">This project will help you understand and enjoy your video better!</p>
                <hr class="my-4" style="padding-bottom: 0.8rem; padding-top: 0.5rem;">
               
                <!-- <div class="container" style="margin: 0px; margin-right: 0px; padding: 0px; height: auto; width: auto;"> -->
                <div className="row" style="height: 270px; width: auto;" > 

                    <div class="col-sm-6 float-left" style="margin: 0px; padding: 0px;  height: auto; "> 
                        <div class="card" style="width: 20rem; margin-bottom: 2rem; margin-left: 8rem; background-color: honeydew; border-radius: 20px;" >
                            <div class="card-body" style="padding: 2%; ">
                                <p style="margin: 0%; padding-left: 10px; ">HI! </br>let's import your video or Youtube link </br>then choose the languages.</p>
                            </div>
                        </div>
                        <a class="btn btn-primary btn-lg" href="#" role="button" style="margin-bottom: 15px; padding: 5px; font-size: 1rem; margin-right: 10px;">Upload video</a>
                        <a class="btn btn-primary btn-lg" href="#" role="button" style="margin-bottom: 15px; padding: 5px; font-size: 1rem;">Youtube link</a>
                        <form method=post enctype=multipart/form-data >
                            <input type=file name=file>
                            <button type="submit" class="btn btn-success" style=" font-size: 1rem; padding: 4px;">Upload</button>
                        </form>

                    </div>
 
                    <div class="col-sm-2 float-right" style="margin: 0px; padding: 0px;  height: auto;">
                        <div class="card text-center" style="height: 260px; border-radius: 1rem;">
                            <div class="card-body">
                                <h5 style="margin-bottom: 32px;">Translation language</h5>
                                    <div class="btn-group-vertical ">
                                        <button type="button" class="btn btn-outline-success" style="margin-bottom: 18px;">Thai</button>
                                        <p class="text-center" style="margin-bottom: 18px; padding-left: 28px;">or</p>
                                        <button type="button" class="btn btn-outline-success">English</button> 
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 float-left" style="margin: 0px; padding-right: 20px;  height: auto; ">
                        <div class="card text-center" style="height: 260px; border-radius: 1rem;" >
                            <div class="card-body">
                                <h5 style="margin-bottom: 15px;">Choose the text languages</h5>

                                <div class="row justify-content-center" style="padding-bottom: 15px;">
                                    <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                        <label class="btn btn-outline-info" style="border-radius: 0.4rem; padding: 0px;  margin-bottom: 0px;">
                                        <p style="margin: 5px; width: 120px;">Auto Detect</p>
                                        </label>
                                    </div>
                                </div>
                               
                                <div class="row" style="padding-bottom: 5px;">
                                    <div class="items col-sm-4 d-flex justify-content-center" >
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Chinese</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">German</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                                <p style="margin: 5px; width:80px;">English</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding: 5px;">
                                    <div class="items col-sm-4 d-flex justify-content-center" >
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">French</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Italian</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Japanese</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="padding: 5px;">
                                    <div class="items col-sm-4 d-flex justify-content-center" >
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect"  >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Korean</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Spanish</p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="items col-sm-4 d-flex justify-content-center">
                                        <div data-toggle="buttons" class="btn-group bizmoduleselect" >
                                            <label class="btn btn-outline-info" style="border-radius: 2.4rem; padding: 0px;  margin-bottom: 0px;">
                                            <p style="margin: 5px; width: 80px;">Thai</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->

                <!-- <div class="container" style="margin: 0px; padding: 0px;  height: auto; width: auto"> -->
                <div className="row" style="padding-top: 30px; padding-right: 0px; height: 500px; width: auto;"> 
                    <div class="col-7 float-left " style="margin: 0px; padding: 0px; align-self: center; height: 500px;">
                        <video width="98%" height="100%"  controls >  
                            <source src={{ url_for('static', filename="uploadedvideo/"+"Disney.mp4") }} type="video/mp4">
                        </video>
                    </div>

                    <div class="col-5 float-right" style="margin: 0px; padding: 0px;  height: 400px; margin-top: 2%; margin-bottom: 2%;">
                        <div class class="card text-center" style="height:10%; border-top-right-radius: 1rem; border-top-left-radius: 1rem; background-color: white;  border: 0.5px solid black;">
                            <div class="card-body" style=" padding: 0px; ">
                                <h5 style="text-align: center; margin-bottom: 0px; padding-top: 12px; ">TEXT FROM YOUR VIDEO!</h5>
                            </div>
                        </div>
                        <div class class="card text-center" style="height:90%; border-radius: 0rem; background-color: white;  border-bottom: 0.5px solid black; border-left: 0.5px solid black; border-right: 0.5px solid black;">
                            <div id="something" style="background-color: antiquewhite;">
                                {% if scroll %}
                                <script>
                                    document.getElementById('{{ scroll }}').scrollIntoView();
                                    // or
                                    document.location.hash = '#' + '{{ scroll }}';
                                </script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
        

            </div>

        </div>
    </div>            

    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>